<!-- <p>home works!</p>
<input type="text" (keyup)="search($event)">
<br>
<ul>
    <li *ngFor="let st of students">{{st.email}}</li>
</ul> -->
<div class="container">
    <div class="row">
        <div *ngFor="let sub of subjects" class="col-3">
            <a [routerLink]="'/quiz/' + sub.Code">
                <img [src]="'assets/logos/' + sub.Logo" width="100%">
            </a>
            <h3>
                <a [routerLink]="'/quiz/' + sub.Code">
                    {{sub.Name}}
                </a>
            </h3>
        </div>
    </div>
</div>