<div class="container">
  <div class="row mb-5">
    {{formHero | json}}
    <h3>Form hero</h3>
    <div class="col-6">
      <div class="form-group">
        <label for="">Code</label>
        <input disabled type="text" class="form-control" 
              [(ngModel)]="formHero.id">
      </div>
      <div class="form-group">
        <label for="">Tên</label>
        <input type="text" class="form-control" 
              [(ngModel)]="formHero.name">
      </div>
      <div class="form-group">
        <label for="">Ảnh</label>
        <input type="text" class="form-control" 
              [(ngModel)]="formHero.avatar">
      </div>
      <div class="form-group">
        <label for="">Giới tính</label>
        <select [(ngModel)]="formHero.gender" class="form-control">
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Sức mạnh</label>
        <input type="text" class="form-control" 
              [(ngModel)]="formHero.attack">
      </div>
      <div class="d-flex mt-3 justify-content-end">
        <button (click)="saveForm()" class="btn btn-sm btn-success">Lưu</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let item of heroes">
      <div class="card">
        <img [src]="item.avatar" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <div class="card-body">
            <h5>Thông tin</h5>
            <p>Tuổi: {{item.birthDate | getAge}} tuổi</p>
            <p>Sức mạnh: {{item.attack}}</p>
            <p>Ngày sinh: {{item.birthDate | date: "dd/MM/YYY"}}</p>
          </div>
          <a href="#" class="btn btn-primary">Cập nhật</a>
        </div>
      </div>
    
    </div>
  </div>
</div>