<div class="container">
  <div class="row mb-5">
    {{formHero | json}}
    <h3>Form hero</h3>
    <div class="col-6">
      <div class="form-group">
        <label for="">Code</label>
        <input disabled type="text" class="form-control" 
              [(ngModel)]="formHero.id">
      </div>
      <div class="form-group">
        <label for="">Tên</label>
        <input type="text" class="form-control" 
              [(ngModel)]="formHero.name">
      </div>
      <div class="form-group">
        <label for="">Ảnh</label>
        <input type="text" class="form-control" 
              [(ngModel)]="formHero.avatar">
      </div>
      <div class="form-group">
        <label for="">Giới tính</label>
        <select [(ngModel)]="formHero.gender" class="form-control">
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Sức mạnh</label>
        <input type="text" class="form-control" 
              [(ngModel)]="formHero.attack">
      </div>
      <div class="d-flex mt-3 justify-content-end">
        <button (click)="saveForm()" class="btn btn-sm btn-success">Lưu</button>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <th>Code</th>
      <th>Tên</th>
      <th>Ảnh</th>
      <th>Giới tính</th>
      <th>Sức mạnh</th>
      <th></th>
    </thead>
    <tbody *ngIf="heroes.length > 0">
      <tr *ngFor="let h of heroes">
        <td>{{h.id}}</td>
        <td>{{h.name}}</td>
        <td>
          <img [src]="h.avatar" width="150">
        </td>
        <td>{{h.gender}}</td>
        <td>{{h.attack}}</td>
        <td>
          <button (click)="updateHero(h)" class="btn btn-sm btn-info">Sửa</button>
          <button (click)="removeHero(h)" class="btn btn-sm btn-danger">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>